gtkrc
fontconfig
systemd
manjaro
manjaro-hello.json
libreoffice
pipewire-media-session
pulse
pamac
menus
KDE
libaccounts-glib
kdeconnect
autostart-scripts
falkon
dolphinrc
dolphinrc
pavucontrol.ini
spectaclerc
okularpartrc
QtProject.conf
mimeapps.list
kconf_updaterc
kxkbrc
kcminputrc
kwinrc
krunnerrc
plasma.emojierrc
arkrc
konsolerc
systemmonitorrc
systemsettingsrc
plasmashellrc
plasma-org.kde.plasma.desktop-appletsrc
katerc
katemetainfos
ksmserverrc
kglobalshortcutsrc
khotkeysrc
Trolltech.conf
bluedevilglobalrc
lattedock.layout.bak
kinfocenterrc
zoomus.conf
systemmonitorrc
kscreenlockerrc
kdeglobals
trashrc
yakuakerc
kactivitymanagerd-statsrc
powermanagementprofilesrc
katevirc
kfontinstuirc
kmenueditrc
khelpcenterrc
kgammarc
lattedock.layout.bak
discoverrc
ksplashrc
emaildefaults
plasmarc
sddmthemeinstallerrc
plasmanotifyrc
kactivitymanagerdrc
gwenviewrc
akregatorrc
ktimezonedrc
baloofilerc
user-dirs.locale
user-dirs.dirs
plasma-localerc
touchpadxlibinputrc
katesyntaxhighlightingrc
kateschemarc
Postman
appimagelauncher.cfg
autostart
balena-etcher-electron
baloofileinformationrc
kded5rc
kmixrc
knfsshare
kwalletrc
plasma-nm
lattedockrc
okularrc
/JetBrains/
/GitKraken/
/Code/
kwinrulesrc
/xsettingsd/
/wireshark/
/latte/
/configstore/
/coc/
/google-chrome/
/coc/
/dconf/
/kde.org/
/gtk-2.0/
/gtk-3.0/
/vlc/
/discord/
/session/
